{% extends 'html/base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
<div class="container">
  <div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://st.depositphotos.com/1007989/4620/i/950/depositphotos_46208157-stock-photo-gift-kids.jpg" >
    </div>
    <div class="carousel-item mt-5">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi0V-I963GZM0nwFw91aJnvH0SR_773R7BSA&usqp=CAU"width="1100"height="500">
    </div>
     <div class="carousel-item">
      <img src="https://img.freepik.com/free-vector/group-funny-children-jumping_29937-5030.jpg?size=626&ext=jpg"width="1100" height="530">
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
</div>
{% endblock %}