{% extends 'html/base.html' %}
{% block title %}JoinUs{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-8 mx-auto mt-5 shadow-lg">
		<div class="card-body">
			<h5 class="bg-info text-light p-2 text-center border rounded">Welcome Join Us Here...!!!<br>Ways to join ...</h5>
            <div class="row">
				<div class="col">
				<a href="#"class="form-control btn btn-info my-2 col-sm"><h6>Temporary Volunteer</h6></a>
				</div>
				<div class="col">
				<a href="#"class="form-control btn btn-info my-2 col-sm"><h6>Permanent Volunteer</h6></a>
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock %}