{% extends 'html/base.html' %}
{% block title %}Occasion{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-4 mx-auto mt-5 shadow-lg">
		<div class="card-body">
			<h5 class="bg-info text-light p-3 text-center border rounded">Donate on any Occasions...!!!</h5>
			<form><input type="text" name="" placeholder="Donor ID" class="form-control my-2">
			<input type="text" name="" placeholder="Enter the Occasion Name"class="form-control">
			<input type="text" name="" placeholder="Mode of Payment" class="form-control my-2">
			<input type="Submit" class="btn btn-info btn-block" value="Donate">
		</form>
		</div>
	</div>
</div>
{% endblock %}