{% extends 'html/base.html' %}
{% block title %}Feedback{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-4 mx-auto mt-5 shadow-lg">
		<div class="card-body">
			<h5 class="bg-info text-light p-3 text-center border rounded">Welcome to Feedback Page...!!!</h5>
			<form><input type="text" name="" placeholder="Enter your Donor ID" class="form-control my-2"></form>
			<input type="radio-button" name="" placeholder="Rate our Service :)"class="form-control">
			<form><input type="text" name="" placeholder="Provide us your suggestions here..!!" class="form-control my-2"></form>
			<form><input type="Submit" class="btn btn-info btn-block" value="Click here to submit"></form>
		</div>
	</div>
</div>
{% endblock %}